<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Defense in depth: these declarations must stay absent even if a future transitive changes. -->
    <uses-permission
        android:name="com.android.vending.BILLING"
        tools:node="remove" />
</manifest>
